{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/teams">Teams</a></li>
      <li>Functional teams</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Functional teams</h1>
      <p>
        Functional teams provide capabilities that are required by the multidisciplinary service teams, but these
        capabilities are coalesced into central teams for reasons of efficiency and effectiveness.
      </p>
      <p>
        The size and existince of this type of team will depend on the overall number of services, as well as
        organisational considerations.
      </p>
      <p>
        This delivery lifecycle does not define organisational structures, but it does identify a number of conceptual
        functional teams that work with service teams.
      </p>
      <p>
        Over time, this picture will change and these conceptual teams will be formed into actual organisational
        structures.  This information will be updated to reflect that but for now the names of
        people and groups within Defra are provided where available.
      </p>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium">Governance</h2>
      <div class="panel">
        <p class="form-hint">Portfolio Board</p>
      </div>
      <p>Ensure that delivery is aligned with strategy.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium">Assurance</h2>
      <div class="panel">
        <p class="form-hint">Portfolio Office</p>
      </div>
      <p>Ensure that delivery is aligned with standards.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium">Information assurance</h2>
      <div class="panel">
        <p class="form-hint">Information Assurance</p>
      </div>
      <p>Ensure that information in all its forms is managed and processed securely and safely.</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium">Support design</h2>
      <div class="panel">
        <p class="form-hint">IOC Service Design</p>
      </div>
      <p>Design the support facilities for services.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium">Operation support</h2>
      <div class="panel">
        <p class="form-hint">Web Ops</p>
      </div>
      <p>Build and run shared infrastructure and applications.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium">Operations management</h2>
      <div class="panel">
        <p class="form-hint">IOC Service Management</p>
      </div>
      <p>Provide shared, day to day service management for services that are Live.</p>
    </div>
  </div>

</main>

{% endblock %}
