{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/teams">Teams</a></li>
      <li>Horizontal service teams</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Horizontal service teams</h1>
      <p>
        Horizontal service teams are delivering a service that is common across government, or at least common
        across Defra.
      </p>
      <p>
        These teams have a number of characteristics that make them different to other types of team:
      </p>
      <ol class="list list-bullet">
        <li>they are more likely to be buying applications as a large part of their delivery</li>
        <li>they are likely to have a very broad set of user personas</li>
        <li>a large part of the application functionality that they are providing is intended for use by government users</li>
        <li>they will probably be closely aligned to a Defra cross-cutting capability</li>
        <li>they may be closely aligned with a cross-government delivery</li>
      </ol>
      <p>
        The size and makeup of this type of team will vary during the delivery lifecycle, but they are likely
        to need more delivery capacity at an early stage in the lifecycle compared to a vertical service team.
        The team will persist in some form for the entirety of the life of the service.
      </p>

    </div>

  </div>

</main>

{% endblock %}
