{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Horizontal services in Beta development</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Horizontal services in Beta development</h1>
      <p>
        During Alpha the Service Team will want to understand and assess the Horizontal Services that they may need
        to interact with.
      </p>
      <p>
        For any Horizontal Services that are in the development phase of Beta, there is the opportunity to join up
        the development with demonstrations and feedback from the Service Team.
      </p>
      <p>
        This will also give the Service Team the opportunity to gain greater understanding
        of the applications that the Horizontal Service teams are delivering, which helps in planning Beta.
      </p>
      <p>
        Without this interaction, the service will proceed to Beta with a dependency on a horizontal service that
        may not actually meet its needs.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to know that the horizontal service will work for my Beta."
      </p>
      <p>
        "I want to know what the delivery timescales are for the horizontal service."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Horizontal service teams</h3>
      <p>
        "I want to develop iteratively based on real user feedback."
      </p>
      <p>
        "I want to deliver my Beta."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the horizontal service will be ready for the vertical
    service when it moves into Beta.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service teams will work together on the following activities.
  </p>

  <h3 class="heading-small">Demonstrators</h3>
  <p>
    Creating demonstrators for user feedback.
  </p>
  <p>
    The Horizontal Service teams include the creation of demonstrators for the Service Team in their backlog and
    include the Service Team in their delivery planning.
  </p>

  <h3 class="heading-small">User feedback</h3>
  <p>
    Getting feedback from users on development.
  </p>
  <p>
    The Service Team synchronise their feedback sessions with Horizontal Service teams development cycles.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started as soon as the horizontal services are identified as potentially being
    related to the service.
    In most cases this will be known at the start of Alpha.
  </p>

</main>

{% endblock %}
