{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Information assurance</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Information assurance</h1>
      <p>
        During Alpha, the Service Team will build and trial a number of temporary prototypes and demonstrators,
        some of which may contain sensitive information or intellectual property that would need to be protected.
      </p>
      <p>
        The Information Assurance function can assist the Service Team in identifying this information and ensuring
        that it is appropriately protected.
      </p>
      <p>
        Without this, the service team is liable to under- or over-protect the relevant information, causing
        unnecessary extra work or, in the worst case, security breaches.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to build, trial, demonstrate and dispose of prototypes quickly."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Information assurance team</h3>
      <p>
        "I want to ensure that security risks associated with prototyping activity are appropriately mitigated."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to maintain the security of prototypes and demonstrators.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The Service Team and Information Assurance function will work together on the following activities.
  </p>

  <h3 class="heading-small">Threat modelling</h3>
  <p>
    Identifying the applicable threats and appropriate controls.
  </p>
  <p>
    The Information Assurance function will help the Service Team to identify relevant security threats associated
    with prototyping activity and describe the appropriate controls.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started early in Alpha.
    This is so that the team can build in the appropriate controls from the start.
  </p>

</main>

{% endblock %}
