{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Common service governance</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Common service governance</h1>
      <p>
        The Service Team need to decide whether their Beta will make use of a common component.
      </p>
      <p>
        The Governance function decides whether it is appropriate for the Service Team to use a common component
        in their service.
      </p>
      <p>
        This ensures that the Service Team and the Horizontal Service Team are both aligned with strategy and that
        funding is correctly directed to the respective delivery teams.
      </p>
      <p>
        Without this interaction, the Service Team will not be appropriately funded in their Beta and will bear
        the burden of providing their own equivalent of the common service.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-third">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to have the necessary funding to use the common services in my Beta."
      </p>
      <p>
        "I want to know that the common services will be fit for my service."
      </p>

    </div>
    <div class="column-third">

      <h3 class="heading-small">Governance function</h3>
      <p>
        "I want to ensure that strategy is being followed."
      </p>

    </div>
    <div class="column-third">

      <h3 class="heading-small">Horizontal Service teams</h3>
      <p>
        "I want to have the necessary funding to include the Service Team’s needs in my delivery."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that funding is correctly directed to the respective delivery teams.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The Governance function and the service teams will work together on the following activities.
  </p>

  <h3 class="heading-small">Align Beta business case</h3>
  <p>
    Ensuring that the business case for Beta identifies the correct costs and benefits.
  </p>
  <p>
    The Governance function is responsible for ensuring that costs and benefits are not double counted or missed.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction will start towards the end of Alpha.
    This is so that the Service Team have time to work with the Horizontal Service Team to evaluate the common service
    and gather sufficient feedback to properly understand the implications for their service.
  </p>

</main>

{% endblock %}
