{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/detail/vertical_interactions">Vertical interactions</a></li>
      <li><a href="/detail/vertical/alpha">Alpha</a></li>
      <li>Support design</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Alpha support design</h1>
      <p>
        During Alpha the Service Team will trial a number of different technical approaches and user journeys.
        The support demands will be part of the evaluation and the Support Design function will work with
        the Service Team to help identify these.
      </p>
      <p>
        Once the Alpha has identified a prefered approach, the Support Design function will help to design the initial
        support model for Beta development. Although this is likely to be quite minimal, it can get more complex
        when common components are being used.
      </p>
      <p>
        Without this interaction, the Service Team will find it difficult to include support needs in their
        evaluation and will have to procure their own support arrangements for Beta development, which will slow
        down delivery.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to be able to include the support needs in my evaluation."
      </p>
      <p>
        "I want to know what support the team will need when we start Beta."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Support design team</h3>
      <p>
        "I want to ensure that the Service Team include the support needs in their evaluation."
      </p>
      <p>
        "I want to ensure that the Service Team understand the support needs of any common components."
      </p>
      <p>
        "I want to prepare for the Service Team to start Beta."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service team have a clear view of what operational support
    they will need if they continue to a Beta phase.
  </p>
  <p>
    Crucially, they will be able to establish that the service could be supported when progressing to Public Beta
    and Live.
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and support design function will work together on the following activities.
  </p>

  <h3 class="heading-small">Support evaluation</h3>
  <p>
    Evaluating the support demands of different solution options.
  </p>

  <h3 class="heading-small">Development support design</h3>
  <p>
    Designing the support model for Beta development.
  </p>
  <p>
    Although the bulk of the support design for the service will be done during Beta development, there is an element
    of support that wil be needed in order to start development.
  </p>
  <p>
    The main area where this will be required is when the development will be using components provided by external
    organisations.  In many cases, support arrangements for these will already be in place, but sometimes they
    will need to be designed.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started after the Service Team have begun prototyping.
    This is so that the team have been able to explore how their service might work well enough to be able to
    understand what some of the support needs will be.
  </p>

</main>

{% endblock %}
