{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Horizontal services in Alpha</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Horizontal services in Alpha</h1>
      <p>
        During Alpha the Service Team will want to understand and assess the Horizontal Services that they may need
        to interact with.
      </p>
      <p>
        For any Horizontal Services that are also in Alpha, there is the opportunity to join up feedback and
        evaluation.
      </p>
      <p>
        Without this interaction both teams will miss opportunities to gather user feedback and consequently
        not meet the Service Standard.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to know that a horizontal service I may use has included my user needs."
      </p>
      <p>
        "I want to know if the horizontal service can be part of my Beta."
      </p>
      <p>
        "I want to know what the delivery timescales are for the horizontal service."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Horizontal service teams</h3>
      <p>
        "I want to get real user feedback."
      </p>
      <p>
        "I want to deliver my Alpha."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that both vertical and horizontal service teams remain aligned
    in their delivery as the Alpha progresses.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service teams will work together on the following activities.
  </p>

  <h3 class="heading-small">Demonstrators</h3>
  <p>
    Creating demonstrators of potential solutions.
  </p>
  <p>
    The Service Team work with the Horizontal Service teams to create demonstrators of solution options.
  </p>

  <h3 class="heading-small">User feedback</h3>
  <p>
    Getting feedback from users on prototypes and demonstrators.
  </p>
  <p>
    The Service Team and the Horizontal Service teams participate in each others feedback sessions.
  </p>

  <h3 class="heading-small">Application evaluation</h3>
  <p>
    Evaluating the Alpha prototypes and demonstrators against the defined criteria.
  </p>
  <p>
    The Service Team are involved in the evaluation and selection so that they can make solution design decisions
    for their Beta.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started as soon as the horizontal services are identified as potentially being
    related to the service.
    In most cases this will be known at the start of Alpha.
  </p>

</main>

{% endblock %}
