{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Assurance</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Assurance</h1>
      <p>
        The Service Team will need to ensure that their Alpha exercise is covering all the areas that are
        specified by the Service Manual.
      </p>
      <p>
        The Assurance function can help the Service Team to understand what they should be seeking to achieve
        from Alpha and to assess whether they have done so.
      </p>
      <p>
        Without this interaction, the Alpha exercise could waste effort and leave the team unable to start Beta.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to be sure of the objectives of Alpha and that I will meet them."
      </p>
      <p>
        "I want to be ready for Beta."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Assurance team</h3>
      <p>
        "I want to ensure that service teams are doing the right things."
      </p>
      <p>
        "I want to be confident in the outcome of Alpha."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that when Alpha is complete, all the right things have
    been done so that we can be confident in the outcome.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The Service Team and Assurance function will work together on the following activities.
  </p>

  <h3 class="heading-small">Alpha guidance</h3>
  <p>
    The Assurance function provide guidance to the Service Team on what is expected from an Alpha phase.
  </p>
  <p>
    During Alpha, the Service Team work with the Assurance function to enhance the guidance based
    on delivery experience.
  </p>
  <p>
    This guidance includes the basis on which the Alpha will be assessed.  In particular, whether an external review
    will be required.
  </p>

  <h3 class="heading-small">Alpha assessment</h3>
  <p>
    The Alpha phase has a formal review at the end, which forms part of the spend approval process and is a
    pre-condition for starting Beta.
  </p>
  <p>
    The Assurance function work with the Service Team throughout Alpha to ensure that they comply with the
    Service Standard and gather the necessary evidence for the review.
  </p>
  <p>
    The formal review exercise is then conducted at the end of Alpha at the request of the Service Team.
    The Assurance function will arrange the review, including any external review if necessary.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started at the beginning of the Alpha phase.
  </p>

</main>

{% endblock %}
