{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Operation support</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Alpha operation support</h1>
      <p>
        During Alpha, the Service Team will build and trial a number of temporary prototypes and demonstrators,
        many of which will be shown directly to customers.
      </p>
      <p>
        The Operation Support function can assist the Service Team in obtaining the necessary platforms,
        configuration and light-touch monitoring capabilities.
      </p>
      <p>
        Without this, the service team will have to procure and manage all the necessary infrastructure for their
        Alpha, which will cause delays.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to build, trial, demonstrate and dispose of prototypes quickly."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Operation support team</h3>
      <p>
        "I want to manage risks associated with prototyping activity."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service team are able to perform their prototyping
    in representative environments so that they can make the best decisions about how to proceed in Beta.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and operation support function will work together on the following activities.
  </p>

  <h3 class="heading-small">Provision environments</h3>
  <p>
    Stand up environments that are required by the service team.
  </p>

  <h3 class="heading-small">Manage environments</h3>
  <p>
    Monitoring and controlling the environments.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started at the beginning of Alpha.
    This is to allow time for environments to be provisioned.
  </p>

</main>

{% endblock %}
