{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_alpha">Alpha</a></li>
      <li>Operation management</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Alpha operation management</h1>
      <p>
        During Alpha, the Service Team will build and trial a number of temporary prototypes and demonstrators,
        many of which will be shown directly to customers.
      </p>
      <p>
        The Operation Management function can assist the Service Team by providing sandboxed equivalents of their
        services to demonstrate to users.
      </p>
      <p>
        Without this, the service team will have to implement their own dummy services for Alpha, which will
        cause delays and could provide misleading information.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to iteratively demonstrate shared services."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Operation management team</h3>
      <p>
        "I want to manage risks associated with prototyping activity."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service team are able to include shared services in
    their demonstrations to users so that they can make the best decisions about how to proceed in Beta.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and operation management function will work together on the following activities.
  </p>

  <h3 class="heading-small">Use sandbox service</h3>
  <p>
    Include the Alpha in the sandbox service or create one if it doesn't already exist.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started early in Alpha.
    This is to allow the service team to have prioritised their backlog and understood whether they will benefit
    from getting feedback on shared services.
  </p>

</main>

{% endblock %}
