{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_betapub">Public beta</a></li>
      <li>Operation support</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Public beta operation support</h1>
      <p>
        Following a successful assessment the Service Team will open up their service for general use in a Public
        Beta.
      </p>
      <p>
        This phase focuses on transitioning from continuous change to continuous improvement.
      </p>
      <p>
        The Operation Support function will work with the Service Team to assess the performance of the
        operating environments during the Public Beta and ensure that there is a continuous feedback loop for
        improvement.
      </p>
      <p>
        Without this interaction, the Service Team will be unable to transition to a continuous improvement state.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want my service to be supported in Public Beta."
      </p>
      <p>
        "I want to identify, understand and resolve issues arising from operating at full scale."
      </p>
      <p>
        "I want to scale down the team effort."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Operation support team</h3>
      <p>
        "I want to get practice supporting the service."
      </p>
      <p>
        "I want to correctly scale my team to support the service."
      </p>
      <p>
        "I want to move to a regular, predictable support rhythm."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service will continue to be supported during Public Beta
    in such a way that the service can progress to Live.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and operation support function will work together on the following activities.
  </p>

  <h3 class="heading-small">Knowledge transfer</h3>
  <p>
    Transfer of service knowledge from the Service Team to the Operation Support function.
  </p>
  <p>
    In some cases this may involve transfer of people or contracts, most likely when the Service Team has implemented
    new applications or platforms.
  </p>

  <h3 class="heading-small">Continuous deployment</h3>
  <p>
    Continuous deployment including promotion from development to production environments.
  </p>
  <p>
    The continuous deployment approach should continue and evolve throughout the Public Beta.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should carry over from earlier in the Beta and so will have already started at the beginning of the
    Public Beta.
  </p>

</main>

{% endblock %}
