{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_betapub">Public beta</a></li>
      <li>Operation management</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Public beta operation management</h1>
      <p>
        Following a successful assessment the Service Team will open up their service for general use in a Public
        Beta.
      </p>
      <p>
        The Operation Management function will take on ownership of some aspects of the service at this point,
        generally the day to day running of the applications and the engagement with the Operation Support and
        Support Design functions.
      </p>
      <p>
        Without this, the Service Team would need to retain people to perform this function.  Unless it is an
        unusually large service then this is unlikely to be economical.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want my service to be supported in Public Beta."
      </p>
      <p>
        "I want to scale down the team effort."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Operation management team</h3>
      <p>
        "I want to know what the joint responsibilities with the Service Team will be."
      </p>
      <p>
        "I want to correctly scale my team to support the service."
      </p>
      <p>
        "I want to move to a regular, predictable support rhythm."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service can be continuously improved without having
    to maintain a full service team.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and operation management function will work together on the following activities.
  </p>

  <h3 class="heading-small">Knowledge transfer</h3>
  <p>
    Transfer of service knowledge from the Service Team to the Operations Management function.
  </p>

  <h3 class="heading-small">Continuous change</h3>
  <p>
    Maintaining continuous service change.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction will started at the beginning of the Public Beta.
  </p>

</main>

{% endblock %}
