{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_betapub">Public beta</a></li>
      <li>Support design</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Public beta support design</h1>
      <p>
        Following a successful assessment the Service Team will open up their service for general use in a Public
        Beta.
      </p>
      <p>
        This phase focuses on transitioning from continuous change to continuous improvement.
      </p>
      <p>
        Some of the responsibilities of the Service Team will transfer to functional teams and some of the people
        in the Service Team may move to focus on other services.
      </p>
      <p>
        As this transition takes place and as the Service Team respond to operation of their service some of the
        support arrangements will change.  The Service Design function will continue to work with the Service Team
        and the Operations Management function to refine the support arrangements during the Public Beta.
      </p>
      <p>
        Without this interaction, the Service Team will be unable to transition to a continuous improvement state.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-third">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want my service to be supported in Public Beta."
      </p>
      <p>
        "I want to identify, understand and resolve issues arising from operating at full scale."
      </p>
      <p>
        "I want to scale down the team effort."
      </p>

    </div>
    <div class="column-third">

      <h3 class="heading-small">Support design team</h3>
      <p>
        "I want to understand how the support arrangements work in practice."
      </p>
      <p>
        "I want to ensure that the support levels will be maintained."
      </p>

    </div>
    <div class="column-third">

      <h3 class="heading-small">Operations management team</h3>
      <p>
        "I want to acquire the support knowledge to manage the applications."
      </p>
      <p>
        "I want to ensure that the support levels will be maintained."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service will continue to be supported during Public Beta
    in such a way that the service can progress to Live.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team, operations management function and support design function will work together on the following
    activities.
  </p>

  <h3 class="heading-small">Continuous change</h3>
  <p>
    Adjusting the mechanisms for continous change.
  </p>

  <h3 class="heading-small">Operational readiness review</h3>
  <p>
    Checking that the operational environment is ready for Live.
  </p>
  <p>
    This forms part of the Live assessment criteria.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started a little while after the beginning of the Public Beta.
    This is to allow time for the Operations Management function to have taken on responsibility for the applications
    and to have gathered some experience of the service operating at scale.
  </p>

</main>

{% endblock %}
