{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_betapriv">Private beta</a></li>
      <li>Support design</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Private beta support design</h1>
      <p>
        During the Beta phase the Service Team will open up their service to a limited number of users for a
        Private Beta, to see how well their service works in practice.
      </p>
      <p>
        It is likely that the Service Team will provide some of the support arrangements themselves whilst the
        service is in Private Beta, but testing out the service in the real world in this way provides the
        opportunity to evaluate the support arrangements before a wider takeup.
      </p>
      <p>
        The Support Design team will work with the Service Team to perform this evaluation and adjust the
        support arrangements prior to Public Beta.
      </p>
      <p>
        Without this interaction, the Service Team will be unable to adjust the support arrangements prior to their
        Public Beta.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to get real world feedback on my service."
      </p>
      <p>
        "I want my service to be supported in Private Beta."
      </p>
      <p>
        "I want to be able to make quick changes to my service in response to user feedback."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Support design team</h3>
      <p>
        "I want to understand how the support arrangements work in practice."
      </p>
      <p>
        "I want to ensure that the support arrangements are adjusted prior to Public Beta."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service will be supported in Public Beta.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and support design function will work together on the following activities.
  </p>

  <h3 class="heading-small">Support assessment</h3>
  <p>
    Reviewing all aspects of the support arrangements.
  </p>
  <p>
    Not all aspects of support will necessarily be tested during the Private Beta but the teams should make every
    effort to ensure that as many different scenarios as possible are explored.
  </p>

  <h3 class="heading-small">Continuous change</h3>
  <p>
    Implementing continuous change.
  </p>
  <p>
    The teams should be implementing changes to the service during the Private Beta.
  </p>

  <h3 class="heading-small">Operating level agreement</h3>
  <p>
    Defining the support levels to be provided during Public Beta.
  </p>

  <h3 class="heading-small">Operational readiness review</h3>
  <p>
    Checking that the operational environment is ready for Public Beta.
  </p>
  <p>
    This forms part of the Beta assessment criteria.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should carry over from development and so will have already started at the beginning of the
    Private Beta.
  </p>

</main>

{% endblock %}
