{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_discovery">Discovery</a></li>
      <li>Support design</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Discovery support design</h1>
      <p>
        Before starting Alpha, the Service Team will need to establish what operational support they will require
        in order to deliver it.
      </p>
      <p>
        The Support Design function are well placed to help the Service Team identify this information.
        They will be able to describe the operational characteristics of the Alpha in a way that will help
        to identify the operational resources needed for Alpha.
      </p>
      <p>
        Without this interaction, the service team will have to work all this out during Alpha, causing delay.
        It is also likely that the service team will not have the appropriate knowledge to identify the correct
        operational needs for Alpha, which introduces unnecessary risks into the Alpha.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to understand how I need to describe the relative importance of my service."
      </p>
      <p>
        "I want to know what help I will need to operate prototypes and demonstrators when I start building my Alpha."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Support design team</h3>
      <p>
        "I want to understand what the Service Team want to achieve so that I can provide the best advice."
      </p>
      <p>
        "I want to prepare for the Service Team to start Alpha."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service team have a clear view of what operational support
    they will need if they continue to an Alpha phase.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and support design function will work together on the following activities.
  </p>

  <h3 class="heading-small">Service categorisation</h3>
  <p>
    Categorising the service according to its business criticality.
  </p>
  <p>
    By establishing a common categorisation of the service, the support design function can give clear guidance
    on what level of support will be necessary for Alpha.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started early in the Discovery phase.
    This is so that the team have plenty of time to find answers to the questions that will give the
    service categorisation.
  </p>
  <p>
    It is quite likely that the answers to the questions will not be established until near the end of Discovery.
    Even then, they will still be the best guess to be used for Alpha rather than a fixed categorisation for the
    service.
  </p>

</main>

{% endblock %}
