{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_discovery">Discovery</a></li>
      <li>Horizontal services in public Beta or Live</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Horizontal services in public Beta or Live</h1>
      <p>
        During Discovery the Service Team will identify the Horizontal Services that they will need to interact
        with, or this may have already been established prior to Discovery.
      </p>
      <p>
        For any Horizontal Services that are already in public Beta or Live, the service team need to establish
        what interactions would need ot be in place for Alpha.
      </p>
      <p>
        Without this interaction, the service will proceed to Alpha with incorrect assumptions and an invalid
        business case.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to know which, if any, of my user needs will be met by the horizontal service."
      </p>
      <p>
        "I want to know how I can make use of the horizontal service in my Alpha."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Horizontal service teams</h3>
      <p>
        "I want to plan to support the service team in their Alpha."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is just to ensure that the operational support model for the horizontal service
    is ready for the Alpha.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service teams will work together on the following activities.
  </p>

  <h3 class="heading-small">User needs management</h3>
  <p>
    Agreeing the ownership and management of user needs as they are uncovered.
  </p>
  <p>
    The Service Team work with the Horizontal Service teams to agree how to incorporate their needs in the backlog.
  </p>
  <p>
    (We don't currently seem to have a mechanism for doing this.)
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started as soon as the horizontal services are identified as potentially being
    related to the service.
  </p>

</main>

{% endblock %}
