{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/detail/vertical_interactions">Vertical interactions</a></li>
      <li><a href="/detail/vertical/discovery">Discovery</a></li>
      <li>Common service governance</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Common service governance</h1>
      <p>
        The Service Team need to establish whether to include a common component in their Alpha.
      </p>
      <p>
        The Governance function decides whether it is appropriate for the Service Team to use a common component
        in their Alpha.
      </p>
      <p>
        This ensures that the Service Team and the Horizontal Service Team are both aligned with strategy and that
        funding is correctly directed to the respective delivery teams.
      </p>
      <p>
        Without this interaction, the Service Team will not be appropriately funded in their Alpha and will bear
        the burden of using and understanding the work of the Horizontal Service team themselves.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-third">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to have the necessary funding to use the common services in my Alpha."
      </p>

    </div>
    <div class="column-third">

      <h3 class="heading-small">Governance function</h3>
      <p>
        "I want to ensure that strategy is being followed."
      </p>

    </div>
    <div class="column-third">

      <h3 class="heading-small">Horizontal Service teams</h3>
      <p>
        "I want to have the necessary funding to include the Service Team’s needs in my delivery."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that funding is correctly directed to the respective delivery teams.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The Governance function and the service teams will work together on the following activities.
  </p>

  <h3 class="heading-small">Align user needs</h3>
  <p>
    Ensuring that the Horizontal and Vertical Service Teams have a single, aligned set of user needs and that
    the respective responsibilities for meeting them are agreed.
  </p>
  <p>
    This might be enabled through the use of a shared, enterprise user needs catalogue.
  </p>
  <p>
    (Currently, we don't appear to have a mechanism for this.)
  </p>

  <h3 class="heading-small">Align Alpha business case</h3>
  <p>
    Ensuring that the business case for Alpha identifies the correct costs and benefits.
  </p>
  <p>
    The Governance function is responsible for ensuring that costs and benefits are not double counted or missed.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction will not be able to start until later in the Discovery phase.
    This is because the Service Team will need to identify the common services that they may interact with as
    part of their Discovery.
  </p>

</main>

{% endblock %}
