{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_discovery">Discovery</a></li>
      <li>Horizontal services in Alpha</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Horizontal services in Alpha</h1>
      <p>
        During Discovery the Service Team will identify the Horizontal Services that they will need to interact
        with, or this may have already been established prior to Discovery.
      </p>
      <p>
        For any Horizontal Services that are already in Alpha, there is the opportunity to include additional
        user needs in their evaluation.
      </p>
      <p>
        Without this interaction, the service will proceed to Alpha with incorrect assumptions and an invalid
        business case.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to know which, if any, of my user needs will be met by the horizontal service."
      </p>
      <p>
        "I want to know if the horizontal service will be part of my Alpha."
      </p>
      <p>
        "I want to know what applications the horizontal service will deliver."
      </p>
      <p>
        "I want to know what the delivery timescales are for the horizontal service."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Horizontal service teams</h3>
      <p>
        "I want to evaluate solutions against known user needs."
      </p>
      <p>
        "I want to deliver my Alpha."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the user needs of the vertical service are considered
    in the Alpha evaluation so that they know what to expect in Alpha.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service teams will work together on the following activities.
  </p>

  <h3 class="heading-small">Evaluation criteria definition</h3>
  <p>
    Defining the evaluation criteria for user needs to be included in the Alpha.
  </p>
  <p>
    The Service Team work with the Horizontal Service teams to agree the definition of evaluation criteria for the
    user needs that they discover.
  </p>
  <p>
    This could be enabled through a shared evaluation criteria catalogue.
  </p>

  <h3 class="heading-small">Application evaluation</h3>
  <p>
    Evaluating the Alpha prototypes and demonstrators against the defined criteria.
  </p>
  <p>
    The Service Team are involved in the evaluation and selection so that they can understand the implications for
    their own Alpha.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started as soon as the horizontal services are identified as potentially being
    related to the service.
  </p>

</main>

{% endblock %}
