{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_discovery">Discovery</a></li>
      <li>Assurance</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Assurance</h1>
      <p>
        The Service Team will need to ensure that their Discovery exercise is covering all the areas that are
        specified by the Service Manual.
      </p>
      <p>
        The Assurance function can help the Service Team to understand what they should be seeking to achieve
        from Discovery and to assess whether they have done so.
      </p>
      <p>
        Without this interaction, the Discovery exercise could waste effort and leave the team unprepared for Alpha.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want to be sure of the objectives of Discovery and that I will meet them."
      </p>
      <p>
        "I want to be ready for Alpha."
      </p>
      <p>
        "I want to be confident in the outcome of Discovery."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Assurance team</h3>
      <p>
        "I want to ensure that service teams are doing the right things."
      </p>
      <p>
        "I want to be confident in the outcome of Discovery."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that when Discovery is complete, all the right things have
    been done so that we can be confident in the outcome.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The Service Team and Assurance function will work together on the following activities.
  </p>

  <h3 class="heading-small">Discovery guidance</h3>
  <p>
    The Assurance function provide guidance to the Service Team on what is expected from a Discovery phase.
  </p>
  <p>
    During Discovery, the Service Team work with the Assurance function to enhance the guidance based
    on delivery experience.
  </p>
  <p>
    This guidance includes the basis on which the Discovery will be assessed.
  </p>

  <h3 class="heading-small">Discovery assessment</h3>
  <p>
    The Discovery phase does not have a formal assessment at the end, but assessment of the outcomes of Discovery
    form part of the spend approval process.
  </p>
  <p>
    The Assurance function work with the Service Team throughout Discovery to ensure that they comply with the
    Service Standard.
  </p>
  <p>
    The Assurance function provide their assessment as part of the business case for Alpha.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should be started at the beginning of the Discovery phase.
  </p>

</main>

{% endblock %}
