{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra service delivery lifecycle</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/details#vertical">Vertical interactions</a></li>
      <li><a href="/details#vertical_live">Live</a></li>
      <li>Operation support</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Live operation support</h1>
      <p>
        Following a successful assessment the service will move to the Live phase for continuous improvement.
      </p>
      <p>
        During this phase various different improvements may be identified, some larger than others.
      </p>
      <p>
        The Operation Support function will work with the Service Team to assess the required improvements and
        identify when they might be large enough to require additional effort from the Service Team.
      </p>
      <p>
        Without this interaction, the Service Team will be unable to deliver significant improvements to the service.
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Teams</h2>
  <p>
    These are the teams that are involved in this interaction and what they want to achieve.
  </p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-small">Service team</h3>
      <p>
        "I want my service to be supported in Live."
      </p>
      <p>
        "I want to continuously improve the service."
      </p>
      <p>
        "I want to know when I need to scale up the team effort."
      </p>

    </div>
    <div class="column-half">

      <h3 class="heading-small">Operation support team</h3>
      <p>
        "I want to continuously improve the service."
      </p>
      <p>
        "I want to keep the service operating."
      </p>
      <p>
        "I want to control demand on my team."
      </p>

    </div>
  </div>

  <h2 class="heading-medium">Objectives</h2>
  <p>
    The objective of this interaction is to ensure that the service can continue to be improved during Live even
    when larger improvements are required.
  </p>
  <p>
  </p>

  <h2 class="heading-medium">Activities</h2>
  <p>
    The service team and operation support function will work together on the following activities.
  </p>

  <h3 class="heading-small">Continuous change</h3>
  <p>
    Maintaining continuous service change.
  </p>
  <p>
    The continuous change approach should evolve throughout the Live phase.
  </p>
  <p>
    In particular, a mechanism to identify large-scale change needs to be included.
  </p>

  <h2 class="heading-medium">Timing</h2>
  <p>
    This interaction should carry over from the Beta phase and so will have already started at the beginning of the
    Live phase.
  </p>

</main>

{% endblock %}
