{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Defra Service Delivery Lifecycle Definitions</h1>
      <p>
        In order to provide a shared understanding of the service delivery lifecycle, some common terminology needs to be agreed.
      </p>
      <p>
        This section provides the definitions for some particular terms that might either be open to interpretation or
        tend to have different meanings depending on the context in which they are used.
      </p>

    </div>

  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium"><a href="definition/service">Service</a></h2>
      <p>
        A <a href="definition/service">Service</a> is the service that Defra provides to its customers
      </p>
      <p>
        An <a href="definition/service">Application</a> is an IT capability that provides some functionality to a user
      </p>
      <p>
        <a href="definition/service">Operation Support</a> is all the activities around an application that are
        provided by people so as to ensure its correct operation
      </p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="definition/customer">Customer</a></h2>
      <p>
        A <a href="definition/customer">Customer</a> is any of the people described in the Defra Group Target
        Operating Model as customers
      </p>
      <p>
        A <a href="definition/customer">User</a> is anyone, Customer or not, who uses an Application
      </p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="definition/agile">Agile</a></h2>
      <p>
        An <a href="definition/agile">Agile</a> delivery approach is one that is able to respond quickly and
        positively to change
      </p>
      <p>
        An <a href="definition/agile">Iterative</a> delivery approach is one that allows for and adapts to change
        by improving through a series of short iterations based on regular feedback
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium"><a href="definition/buybuild">Buy or Build</a></h2>
      <p>
        To <a href="definition/buybuild">Buy</a> is to take a decision that commits to a significant technical or
        financial investment in a pre-existing application
      </p>
      <p>
        Wherever possible, such an investment will be made for the benefit of the organisation as a whole, when the
        application is referred to as a <a href="definition/buybuild">Common Component</a>
      </p>
      <p>
        To <a href="definition/buybuild">Build</a> is to create an application over time, where investment can be
        halted at any point
      </p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="definition/live">Live</a></h2>
      <p>
        A service is <a href="definition/live">Live</a> when it is in a state of continuous improvement based on
        operational measurements
      </p>
      <p>
        An application is in <a href="definition/live">Operation</a> whenever it has the appropriate level of support
      </p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="definition/governance">Governance</a></h2>
      <p>
        <a href="definition/governance">Governance</a> is the act of ensuring that a service is aligned with
        strategy and policy
      </p>
      <p>
        <a href="definition/governance">Assurance</a> is the act of ensuring that a service is compliant with
        standards and procedures
      </p>
    </div>
  </div>

</main>

{% endblock %}
