{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra Service Delivery Lifecycle</a></li>
      <li>Details</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Defra service delivery lifecycle details</h1>
      <p>
        This page provides a link to each of the individual interactions that form the delivery lifecycle.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium">Details by team</h2>
      <h3 class="heading-small" id="vertical">Vertical teams</h3>

      <p id="vertical_discovery">Discovery</p>
      <ul class="list list-bullet">
        <li><a href="detail/vertical/discovery_governance">governance</a></li>
        <li><a href="detail/vertical/discovery_assurance">assurance</a></li>
        <li><a href="detail/vertical/discovery_information_assurance">information assurance</a></li>
        <li><a href="detail/vertical/discovery_support_design">support design</a></li>
        <li><a href="detail/vertical/discovery_horizontal_discovery">horizontal services in Discovery</a></li>
        <li><a href="detail/vertical/discovery_horizontal_alpha">horizontal services in Alpha</a></li>
        <li><a href="detail/vertical/discovery_horizontal_betadevelopment">horizontal services in Beta development</a></li>
        <li><a href="detail/vertical/discovery_horizontal_public">horizontal services in Public Beta or Live</a></li>
      </ul>

      <p id="vertical_alpha">Alpha</p>
      <ul class="list list-bullet">
        <li><a href="detail/vertical/alpha_governance">governance</a></li>
        <li><a href="detail/vertical/alpha_assurance">assurance</a></li>
        <li><a href="detail/vertical/alpha_information_assurance">information assurance</a></li>
        <li><a href="detail/vertical/alpha_support_design">support design</a></li>
        <li><a href="detail/vertical/alpha_operation_support">operation support</a></li>
        <li><a href="detail/vertical/alpha_operation_management">operation management</a></li>
        <li><a href="detail/vertical/alpha_horizontal_discovery">horizontal services in Discovery</a></li>
        <li><a href="detail/vertical/alpha_horizontal_alpha">horizontal services in Alpha</a></li>
        <li><a href="detail/vertical/alpha_horizontal_betadevelopment">horizontal services in Beta development</a></li>
        <li><a href="detail/vertical/alpha_horizontal_public">horizontal services in Public Beta or Live</a></li>
      </ul>

      <p id="vertical_betadev">Beta development</p>
      <ul class="list list-bullet">
        <li><!--<a href="detail/vertical/betadev_governance">-->governance<!--</a>--></li>
        <li><!--<a href="detail/vertical/betadev_information_assurance">-->information assurance<!--</a>--></li>
        <li><a href="detail/vertical/betadev_support_design">support design</a></li>
        <li><a href="detail/vertical/betadev_operation_support">operation support</a></li>
        <li><a href="detail/vertical/betadev_operation_management">operation management</a></li>
        <li><!--<a href="detail/vertical/betadev_horizontal_discovery">-->horizontal services in Discovery<!--</a>--></li>
        <li><!--<a href="detail/vertical/betadev_horizontal_alpha">-->horizontal services in Alpha<!--</a>--></li>
        <li><!--<a href="detail/vertical/betadev_horizontal_betadevelopment">-->horizontal services in Beta development<!--</a>--></li>
        <li><!--<a href="detail/vertical/betadev_horizontal_private">-->horizontal services in Private Beta<!--</a>--></li>
        <li><!--<a href="detail/vertical/betadev_horizontal_public">-->horizontal services in Public Beta<!--</a>--></li>
        <li><!--<a href="detail/vertical/betadev_horizontal_live">-->horizontal services in Live<!--</a>--></li>
      </ul>

      <p id="vertical_betapriv">Private beta</p>
      <ul class="list list-bullet">
        <li><!--<a href="detail/vertical/betapriv_governance">-->governance<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapriv_assurance">-->assurance<!--</a>--></li>
        <li><a href="detail/vertical/betapriv_support_design">support design</a></li>
        <li><a href="detail/vertical/betapriv_operation_support">operation support</a></li>
        <li><!--<a href="detail/vertical/betapriv_horizontal_discovery">-->horizontal services in Discovery or Alpha<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapriv_horizontal_betadevelopment">-->horizontal services in Beta development<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapriv_horizontal_private">-->horizontal services in Private Beta<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapriv_horizontal_public">-->horizontal services in Public Beta<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapriv_horizontal_live">-->horizontal services in Live<!--</a>--></li>
      </ul>

      <p>Public beta</p>
      <ul class="list list-bullet">
        <li><!--<a href="detail/vertical/betapub_assurance">-->assurance<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapub_support_design">-->support design<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapub_operation_support">-->operation support<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapub_operation_management">-->operation management<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapub_horizontal_prelive">-->horizontal services in Discovery, Alpha or Beta development<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapub_horizontal_public">-->horizontal services in Public Beta<!--</a>--></li>
        <li><!--<a href="detail/vertical/betapub_horizontal_live">-->horizontal services in Live<!--</a>--></li>
      </ul>

      <p>Live</p>
      <ul class="list list-bullet">
        <li><!--<a href="detail/vertical/live_governance">-->governance<!--</a>--></li>
        <li><!--<a href="detail/vertical/live_operation_support">-->operation support<!--</a>--></li>
        <li><!--<a href="detail/vertical/live_operation_management">-->operation management<!--</a>--></li>
        <li><!--<a href="detail/vertical/live_horizontal_discovery">-->horizontal services in Discovery or Alpha<!--</a>--></li>
        <li><!--<a href="detail/vertical/live_horizontal_betadev">-->horizontal services in Beta development<!--</a>--></li>
        <li><!--<a href="detail/vertical/live_horizontal_public">-->horizontal services in Private or Public Beta or Live<!--</a>--></li>
      </ul>

    </div>

    <div class="column-half">
      <h2 class="heading-medium">Details by phase</h2>

      <h3 class="heading-small">Discovery</h3>
      <ul class="list list-bullet">
        <li><!--<a href="detail/functional/discovery_governance">-->governance<!--</a>--></li>
        <li><a href="detail/vertical/discovery_governance">governance for vertical teams</a></li>
        <li><!--<a href="detail/horizontal/discovery_governance">-->governance for horizontal teams<!--</a>--></li>
        <li><!--<a href="detail/functional/discovery_assurance">-->assurance<!--</a>--></li>
        <li><a href="detail/vertical/discovery_assurance">assurance for vertical teams</a></li>
        <li><!--<a href="detail/horizontal/discovery_assurance">-->assurance for horizontal teams<!--</a>--></li>
        <li><!--<a href="detail/functional/discovery_information_assurance">-->information assurance<!--</a>--></li>
        <li><a href="detail/vertical/discovery_information_assurance">information assurance for vertical teams</a></li>
        <li><!--<a href="detail/horizontal/discovery_information_assurance">-->information assurance for horizontal teams<!--</a>--></li>
        <li><!--<a href="detail/functional/discovery_support_design">-->support design<!--</a>--></li>
        <li><a href="detail/vertical/discovery_support_design">support design for vertical teams</a></li>
        <li><!--<a href="detail/horizontal/discovery_support_design">-->support design for horizontal teams<!--</a>--></li>

        <li><a href="detail/vertical/discovery_horizontal_discovery">vertical services with horizontal services in Discovery</a></li>
        <li><a href="detail/vertical/discovery_horizontal_alpha">vertical services with horizontal services in Alpha</a></li>
        <li><a href="detail/vertical/discovery_horizontal_betadevelopment">vertical services with horizontal services in Beta development</a></li>
        <li><a href="detail/vertical/discovery_horizontal_public">vertical services with horizontal services in Public Beta or Live</a></li>

      </ul>

    </div>
  </div>

</main>

{% endblock %}
