{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        The Defra Service Delivery Lifecycle (Prototype)
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This delivery lifecycle shows how services are delivered in Defra.
      </p>

      <p>
        It is a guide for anyone delivering services on behalf of Defra, whether inside or outside of the department.
      </p>

      <p>It exists to ensure effective delivery of services through:</p>

			<ul class="list list-bullet">
				<li>A shared understanding of the expected ways of working, so that everyone involved with service delivery is able to get their job done.</li>
				<li>A common vocabulary to be used so as to avoid errors and omissions through misunderstandings and miscommunications.</li>
			</ul>

    </div>

    <div class="column-third">
      <div class="phase-banner-alpha">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This guide is currently just a prototype to be used to get feedback.</span>
        </p>
      </div>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium"><a href="definitions">Definitions</a></h2>
      <p>Definitions of common terms to aid communication.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="principles">Principles</a></h2>
      <p>Principles that underpin the design of the delivery lifecycle.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="teams">Teams</a></h2>
      <p>Information about the various teams of people that are involved in service delivery.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium"><a href="phases">Phases</a></h2>
      <p>Extra guidance on each of the phases of the lifecycle.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="overviews">Overviews</a></h2>
      <p>Different views of the lifecycle, suitable for different teams.</p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="details">Details</a></h2>
      <p>For people looking for a specific piece of information, just jump straight into the details!</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li><a href="https://www.gov.uk/service-manual">Service design manual</a></li>
			</ul>
    </div>
  </div>

</main>

{% endblock %}
