{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Defra Service Delivery Lifecycle</a></li>
      <li>Phases</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Defra Service Delivery Lifecycle Phases</h1>
      <p>
        All Services will be delivered in a series of phases as defined by the Service Manual:
        Discovery, Alpha, Beta and Live.
      </p>
      <p>
        This section provides general guidance on each of the phases, in addition to the information
        provided in the Service Manual.
      </p>
      <p>
        To understand the interactions that form the lifecycle, see the <a href="overviews">Overviews</a> section.
      </p>

    </div>

  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <h2 class="heading-medium"><a href="phase/discovery">Discovery</a></h2>
      <p>Description of the Discovery phase.</p>
    </div>
    <div class="column-quarter">
      <h2 class="heading-medium">Alpha</h2>
      <p>Description of the Alpha phase.</p>
    </div>
    <div class="column-quarter">
      <h2 class="heading-medium">Beta</h2>
      <p>Description of the Beta phase.</p>
    </div>
    <div class="column-quarter">
      <h2 class="heading-medium">Live</h2>
      <p>Description of the Live phase.</p>
    </div>
  </div>

</main>

{% endblock %}
