{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Defra service delivery lifecycle principles</h1>
      <p>
        The design of the service delivery lifecycle is based on a number of principles that are derived from
        the Defra Target Operating Model, the Defra Enterprise Architecture Principles and the
        Government Digital Service Standard.
      </p>
      <p>
        These principles are already well established, so the purpose of this section is to identify how they apply to
        the service delivery lifecycle.
    </div>

  </div>

  <h2 class="heading-medium">Common governance</h2>
  <div class="panel panel-border-wide">
    <p>
      A single, common governance mechanism will be used across all service delivery.
    </p>
  </div>
  <p class="form-hint">
    Sources: EA - Architectural Management and Governance, EA - Business Alignment, EA - IT  Investment
  </p>
  <p>
    This means that we need a service delivery lifecycle that is driven by governance mechanisms and can use
    those mechanisms to ensure delivery.
  </p>
  <p>
    Additionally, all applications will need to have strong business ownership, not just those that are closely
    aligned to business functions.
  </p>


  <h2 class="heading-medium">Digital by default</h2>
  <div class="panel panel-border-wide">
    <p>
      Defra services will move to digital channels as the primary delivery route.
    </p>
  </div>
  <p>
    <span class="form-hint">
      Sources: Defra TOM
    </span>
  </p>
  <p>
    The implication of this is that we need a service delivery lifecycle that is focused on delivering
    digital applications.
  </p>

  <h2 class="heading-medium">Buy first</h2>
  <div class="panel panel-border-wide">
    <p>
      We will seek to derive maximum value by Buying ready-made applications rather than Building our own
      where possible
    </p>
  </div>
  <p>
    <span class="form-hint">
      Sources: EA - IT  Investment, EA - Cloud First, EA App - SaaS and Commodity First, EA Tech - Common Platforms,
      GDS - Use open standards and common platforms
    </span>
  </p>
  <p>
    We need a service delivery lifecycle that is designed for Services that will comprise both Bought and
    Built components.
  </p>

  <h2 class="heading-medium">Digital service standard</h2>
  <div class="panel panel-border-wide">
    <p>
      We will apply the Government Digital Service Standard to the delivery of all services
    </p>
  </div>
  <p>
    <span class="form-hint">
      Sources: Digital standards...?
    </span>
  </p>
  <p>
    We need a service delivery lifecycle that elaborates rather than repeats the Service Manual.
  </p>

  <h2 class="heading-medium">Managed</h2>
  <div class="panel panel-border-wide">
    <p>
      We will always have the appropriate level of Operation Support around our Applications
    </p>
  </div>
  <p>
    <span class="form-hint">
      Sources: EA - Business  Continuity, EA App - Application Service Delivery, GDS - Test the end-to-end service,
      GDS - Make a plan for being offline, GDS - Collect performance data
    </span>
  </p>
  <p>
    We need a service delivery lifecycle that includes Operation Support throughout.
  </p>
  <p>
    Common bought components need to be managed with the same level of Operation Support as services.
  </p>
  <p>
    This includes having strong business ownership of all applications and data sets, not just those that are
    closely aligned to business functions.
  </p>

  <h2 class="heading-medium">Iterative</h2>
  <div class="panel panel-border-wide">
    <p>
      We will always iterate our Applications to ensure continuous delivery of value
    </p>
  </div>
  <p>
    <span class="form-hint">
      Sources: EA App - Iterative Delivery, EA Tech - Build for Automation,  GDS - Iterate and improve frequently
    </span>
  </p>
  <p>
    We need a service delivery lifecycle that enables safe iteration.
  </p>

</main>

{% endblock %}
