{% extends "layout.html" %}

{% block page_title %}
  Defra Delivery Lifecycle Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This guide is currently just a prototype to be used to get feedback.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Defra service delivery lifecycle teams</h1>
      <p>
        The delivery lifecycle is based on the Service Manual, which provides most of the guidance that you will need
        on setting up a service team.
      </p>
      <p>
        It describes multidisciplinary service teams that work together to deliver services in accordance with
        the Service Standard.
      </p>
      <p>
        This section builds on that information in the Service Manual to describe how these teams are organised in
        Defra.
      </p>
      <p>
        We describe three different types of team.
      </p>

    </div>

  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium"><a href="team/vertical">Vertical service teams</a></h2>
      <p>
        Vertical service teams are delivering a service that is closely aligned to a unique government capability.
      </p>
      <p>
        Examples include teams working on services like:
      </p>
      <ol class="list list-bullet">
        <li>buy a rod fishing licence</li>
        <li>find out if you're at risk of flooding</li>
        <li>test for diseases in farm animals</li>
      </ol>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="team/horizontal">Horizontal service teams</a></h2>
      <p>
        Horizontal service teams are delivering a service that is common across government, or at least common
        across Defra.
      </p>
      <p>
        Examples include teams working on services like:
      </p>
      <ol class="list list-bullet">
        <li>customer service</li>
        <li>field workforce</li>
        <li>identity management</li>
      </ol>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="team/functional">Functional teams</a></h2>
      <p>
        Functional teams provide capabilities that are required by the multidisciplinary service teams, but these
        capabilities are coalesced into central teams for reasons of efficiency and effectiveness.
      </p>
      <p>
        Examples include teams that provide capability like:
      </p>
      <ol class="list list-bullet">
        <li>web operations</li>
        <li>portfolio management</li>
        <li>information assurance</li>
      </ol>
    </div>
  </div>

</main>

{% endblock %}
